
header{
    border-radius: 30px;
    z-index: 999;
    background-color: #35D488;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    z-index: 999;
    grid-column: 0;
    height: 100%;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    display: flex;
}
.logo img{
    width: 70%;
}
.auth{
    cursor: pointer;

}
.auth__active, .auth{

}
.auth__active{
}
.auth__active img{
    filter: grayscale(10%) sepia(67%) brightness(91%) saturate(0%) contrast(1000%) invert(100%);
    -webkit-filter: grayscale(10%) sepia(67%) brightness(91%) saturate(0%) contrast(1000%) invert(100%);
    -moz-filter: grayscale(10%) sepia(67%) brightness(91%) saturate(0%) contrast(1000%) invert(100%);
}
.auth img, .auth__active img{
    transition: 0.3s all ease;
    width: 70%;
}