body{
  overflow-x: hidden;
  /*min-height: 100vh;*/
  /*padding: 2% 5%;*/

}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: no-repeat url("./img/hocking.png") left bottom ,
  no-repeat url("./img/emc2(2).png") left top,
  no-repeat url("./img/emc2(1).png") right top,
  no-repeat url("./img/einstein2.png") right bottom;
  background-size: 15%;
  height: 100%;

}
@media all and (max-width: 750px){
  .main-wrapper {
    background-size: 30%;
  }
}
.app{
  /*overflow-x: hidden;*/
  background: linear-gradient(180deg, #35D488 0%, #179D1C 87.2%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 150px minmax(min-content,850px) min-content 150px;

  width: 100%;
  min-height:100vh;
  border: 1px solid black;
}
